project:
  type: website
  output-dir: _site
  execute-dir: project

website:
  title: "BSI prediction"
  sidebar:
    style: "floating"
    search: true
    contents:
      - section: "Introduction"
        contents:
          - code/qmds/software_setup.qmd
      - section: "Data exploration"
        contents:
          - code/qmds/explore.qmd
      - section: "BSI logistic regression models" 
        contents:
          - code/qmds/clinical_model.qmd
      - section: "Bacteroides facilitation" 
        contents:
          - code/qmds/bacteroides_proteo.qmd
          - code/qmds/bacteroides_variation.qmd
      - section: "Gut depletion precedes BSIs?"
        contents:
          - code/qmds/depletion_bsi_risk.qmd
      - section: "Enterococcus BSIs"
        contents:
          - code/qmds/enterococcus_diversity.qmd
          - code/qmds/enterococcus_diversity_II.qmd
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true